button {
  all: unset;
  cursor: pointer;
}
.collection {
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
}
/* .collection:before {
  content: "";
  height: 4em;
  position: relative;
  top: 0px;
  width: 100%;
  display: block;
} */
.collection .item {
  content: "";
  height: 4em;
  position: relative;
  top: 0px;
  width: 100%;
  display: block;
}

.collection .artwork {
  /* background-position: center; */
  /* background-size: cover; */
  /* float: left; */
  /* margin-right: 4px; */
  height: 4em;
  /* width: 2em; */
  /* margin-left: 0px !important; */
}
.collection .title {
  /* font-size: 1em; */
  /* width: calc(100% - 4.1em); */
}
.collection .artists {
  /* font-size: 0.688em; */
}
.collection .released,
.collection .countries {
  font-size: 0.563em;
  font-style: italic;
}

.collection > .controls {
  background-color: #7a7a7a;
  height: 2em;
  width: inherit;
  z-index: 16;
  overflow: hidden;
  /* color: #7a7a7a; */
  display: flex;
  /* display: inline; */
}
.collection > .controls * {
  margin: 0px auto;
  font-size: 2em !important;
  color: whitesmoke;
}
.collection > .controls {
  cursor: pointer;
}
.collection > .controls .activated {
  background-color: white;
  color: #7a7a7a;
}
.collection > .controls .disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.collection #playing {
  font-size: 2em;
  transition: 0.25s linear;
  z-index: 16;
}
/* .collection #playing .item button {
  top: unset;
} */

.collection > ol.items {
  position: fixed;
  height: calc(100dvh - 160px);
  width: 100%;
  overflow: hidden auto;
  margin-block: 0px;
  padding-left: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  list-style-type: none;
}

.collection > ol.items > li,
.collection > ol.played > li {
  counter-increment: doc;
  cursor: pointer;
  /* height: 64px; */
  height: 4em;
}

.collection > ol.items > li::before {
  content: counter(doc);
  text-align: center;
  /* width: 1em; */
  /* float: left; */
  /* position: relative; */
  /* left: 0em; */
  /* line-height: 1em; */
  color: whitesmoke;
  /* text-shadow: 0px 0px 8px rgb(0 0 0); */
  /* font-size: 2em; */
  /* z-index: 2; */
  /* opacity: 0.75; */
  /* font-family: sans-serif; */
  /* margin: 0px auto; */

  position: absolute;
  font-size: 3.5em;
  width: 1.15em;
  line-height: 1.15em;
  color: whitesmoke;
  text-shadow: 0px 0px 8px rgb(0 0 0);
  z-index: 2;
  opacity: 0.75;
  left: 0px;
}
.collection ol.items .item button {
  left: 0px;
  top: 0px;
}
.collection ol.items li .item {
  /* left: -2em; */
  /* position: relative; */
  /* width: calc(100% + -2em); */
  /* width: calc(100% - 64px); */
  /* max-width: 50vmin; */
  /* padding-right: 0px; */
  /* margin-right: 0px; */
  /* height: 4em; */
  /* margin-left: -4em; */
}
.collection ol.items.played {
  filter: grayscale(1);
}
.collection .hidden,
/* .collection.minimized #playing .item a svg.logo, */
/* .collection ol li .item .timeline-container, */
/* .collection ol li .item .timeline-container .timeline, */
/* .collection ol li .item .timeline-container .timeline .thumb-indicator, */
.collection ol li .item button,
.collection ol li .item a.logo,
.collection ol li .item .time .time {
  display: none !important;
}
.collection ol li .item .artwork {
  filter: none;
}
.collection ol li .item .timeline-container:hover .timeline {
  height: 4px;
}
.collection ol li .item .timeline-container .timeline::before {
  display: initial;
}
.collection #playing .item,
.collection ol.items li {
  background-color: var(--colorAccent);
  overflow-x: clip;
  font-size: 1em;
}

.collection.minimized {
  /* width: 2em; */
  filter: drop-shadow(2px 0px 2px black);
  text-shadow: none;
  max-height: 100vh;
  height: 100vh;
}
.collection.minimized #playing {
  font-size: 1em;
}
/* .collection.minimized .controls *:not(:last-child) { */
.collection.minimized .controls * {
  width: 0px !important;
  height: 0px !important;
  opacity: 0;
}
.collection.minimized .controls {
  /* position: relative; */
  /* height: 2em; */
  /* display: flex; */
  /* padding-bottom: 2em; */
  /* top: 2em; */
  width: 2em;
}
.collection.minimized .controls #playlist,
/* .collection.minimized .controls #share, */
.collection.minimized .controls #search {
  z-index: 2;
  width: initial !important;
  height: initial !important;
  opacity: 1;
}
.collection.minimized ol.items li {
  width: 2em;
  /* overflow-x: clip; */
}
.collection.minimized ol.items li.show {
  width: 100% !important;
  background-color: whitesmoke;
}
.collection.minimized ol.items li .item {
  min-width: initial;
  /* width: 2em; */
}

.collection > a > svg.logo {
  height: 0px;
  width: 0px;
  display: block;
}
.collection.minimized > a.logo > svg {
  height: 2em;
  width: 2em;
  position: relative;
  aspect-ratio: 1/1;
  background-color: #7a7a7a;
  fill: whitesmoke;
}
.collection.minimized #playing .item a svg.logo {
  /* position: relative; */
  /* font-size: 4rem; */
}
.collection.minimized #playing .item .title {
  /* font-size: 2em; */
  display: none;
}

.collection.minimized #playing .item ul,
.collection.minimized #playing .item ul li * {
  display: none;
}

.collection.minimized #playing .item:hover {
  background-color: unset;
}
.collection.minimized #playing .item .timeline-container {
  position: relative;
  top: calc(1em - 4px);
  left: -2em;
  width: 2em;
}

.collection.square #playing .item {
  width: 100vmin;
  grid-template-columns: 0px auto;
  padding-top: calc(100vmin - 2em);
  max-width: unset;
}
.collection.square #playing .item .artwork {
  height: min(100vmin, 100%);
  width: 100vmin;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  grid-area: 1;
  top: 0px;
}
.collection.square #playing .item * {
  text-shadow: 2px 2px 4px var(--colorAccent);
  z-index: 2;
}
.collection.square #playing .item button {
  font-size: min(100vmin, 25em);
  left: unset;
  top: 0px;
  z-index: 1;
}
.collection.square #playing .item svg.logo * {
  filter: drop-shadow(2px 2px 4px var(--colorAccent));
}
.collection.square #playing .item .timeline {
  filter: drop-shadow(2px 2px 4px var(--color));
}

div#queue.landscape {
  margin-left: 100vmin;
  width: calc(100% - 100vmin);
}
div#queue.landscape > ol.items > li::before {
  margin-left: 100vmin;
}
div#queue.landscape #playing {
  position: fixed;
  height: 100vmin;
  width: 100vmin;
}

amplfr-collection .item:not(.active) button.play {
  display: none;
}
