:root {
  --font-color: 0 0 0;
  --body-color: 255 255 255;
  --playing-height: 4em;
  --player-width: 33vw;
  --logo-width: 0px;
  --color: #f5e7a6;
  --colorAccent: #0b0b18;
}
@media (max-width: 1023px) {
  :root {
    --player-width: 50vw;
  }
}
@media (max-width: 799px) {
  :root {
    --player-width: 100dvw;
  }
}
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}
*::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  border: 3px solid var(--color);
}
body {
  --maxQueueWidth: 0px;
  background-color: rgb(var(--body-color));
  margin: 0px;
  max-width: 100vw;
  width: calc(100vw - 64px);
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  color: rgb(var(--font-color));
  padding: 0px 32px;
  overflow-x: hidden;
  display: inline-block;
}
h1,
h2,
h3,
h4,
input,
select,
button,
span,
a,
p {
  color: rgb(var(--font-color));
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  margin: 0px;
}
button {
  all: unset;
  cursor: pointer;
}
header a.material-symbols-outlined,
header button.material-symbols-outlined,
header a svg {
  font-size: 64px;
  height: 1em;
  width: 1em;
}
header a.material-symbols-outlined:hover,
header button:hover span.material-symbols-outlined,
header a:hover svg {
  color: var(--colorAccent);
  fill: var(--colorAccent);
  text-shadow: 2px 4px 6px var(--colorAccent);
}
#preheader {
  position: absolute;
  top: -1px;
  height: 46vw;
  margin-bottom: 128px;
  width: 1px;
}
header {
  position: fixed;
  top: 64px;
  height: var(--playing-height);
  z-index: 4;
  color: whitesmoke;
  color: var(--color);
  fill: var(--color);
  transition: font-size 200ms;
  display: inline-flex;
  width: calc(100dvw - 64px);
  box-shadow: 0px 2px 4px 2px darkgray;
}
body.narrow header {
  width: 100vw;
  left: 0px !important;
}
header a {
  color: var(--color);
  fill: var(--color);
}
#logo {
  height: var(--playing-height);
  max-height: 64px;
  display: flex;
  position: fixed;
  top: 0px;
  padding-left: 3px;
  z-index: 0;
  background: unset;
  color: var(--color);
  fill: var(--color);
  filter: drop-shadow(-2px 2px 2px var(--colorAccent));
}
#logo * {
  width: auto;
}
#logo:hover,
#logo:active {
  filter: drop-shadow(-2px 2px 2px var(--colorAccent));
}

@media (max-width: 799px) {
  #logo .wide-only {
    display: none;
  }
}
/* @media (max-width: 600px) {
  body {
    padding: 0px;
  }
} */
body.narrow {
  padding: 0px;
  /* width: 100dvw; */
  width: calc(100vw - var(--maxQueueWidth) - 64px) !important;
}
#upload {
  position: absolute;
  right: 0px;
  /* top: -68px; */
  top: -132px;
  /* filter: drop-shadow(-2px 2px 2px var(--colorAccent)); */
  background-color: unset;
}
#upload:hover * {
  color: var(--color);
  fill: var(--color);
  filter: drop-shadow(1px 1px 1px var(--colorAccent));
}
.shadow {
  filter: drop-shadow(-2px 2px 2px var(--colorAccent));
}
header > a,
header > button {
  font-size: var(--playing-height);
  max-height: 64px;
  background-color: rgb(var(--body-color));
  text-decoration: none;
}
header > a > *,
header > button > * {
  white-space: nowrap;
  color: black;
}
header > a:hover,
header > a:active,
header > a.active,
header > button:hover,
header > button:active,
header > button.active {
  color: var(--colorAccent);
  fill: var(--colorAccent);
}
header a.material-symbols-outlined:hover,
header button.material-symbols-outlined:hover,
header a:hover svg {
  color: var(--color);
  fill: var(--color);
  text-shadow: 1px 1px 1px var(--colorAccent);
}
button#toggleQueue {
  color: var(--color);
  font-size: var(--playing-height);
  margin-left: 0px !important;
  position: fixed;
  left: 32px;
  background-color: transparent;
  z-index: 16;
  text-shadow: 1px 1px 2px var(--colorAccent);
}
body.narrow #toggleQueue {
  left: 0px;
}
button#toggleQueue:hover,
button#toggleQueue.active {
  text-shadow: 2px 4px 6px var(--colorAccent);
}
.additional {
  float: right;
  max-height: 64px;
}
#playing .item button img,
#playing .item button svg {
  margin-top: 9px;
  height: 48px;
  width: 48px;
}
#playing .item button:hover,
#playing .item button:active {
  backdrop-filter: blur(15px) contrast(0.25);
}
input#searchText {
  width: 0px;
  flex-grow: 0;
  color: rgb(255 255 255 / 80%);
  font-size: 24px;
  border: none;
  color: var(--colorAccent);
  transition: width 250ms ease-in-out;
  /* width: 100%; */
  z-index: 1;
}
input#searchText.active {
  width: 100%;
  flex-grow: 1;
}
header #menu {
  display: none;
  position: fixed;
  top: 0px;
  left: calc(100vw - 96px);
  filter: invert(1);
  background-color: unset;
}
header #menu:hover * {
  filter: none;
  background-color: unset;
  text-shadow: 2px 2px gray;
}
/* body.narrow header #menu {
  display: block;
} */
@media (max-width: 800px) {
  header #logo,
  header #menu {
    z-index: 5;
    padding-left: 0px;
  }
  header #logo {
    filter: none;
  }
  header #logo:hover * {
    filter: drop-shadow(2px 2px gray);
  }
}
body.columns header {
  left: 32px;
}
#playing {
  position: relative;
  margin: 0px;
  padding: 0px;
  left: 0px;
  top: 0px;
  color: var(--color);
  font-size: var(--playing-height);
  height: 1em;
  z-index: 3;
  background: linear-gradient(
    90deg,
    var(--colorAccent) 64%,
    rgb(var(--body-color))
  );
  flex-grow: 1;
  /* width: 50%; */
}
#playing .item * {
  color: var(--color);
  line-height: 64px;
}
#playing .item {
  height: 100%;
  width: calc(100% - 64px);
  margin-left: 0px;
  font-size: 0.25em;
  background: unset;
}
#playing .item .artwork {
  height: 4em;
  width: 4em;
  height: 64px;
  width: 64px;
  transition: height 250ms, width 250ms, top 250ms;
}

#playing .item button.play {
  position: absolute;
  z-index: 4;
  margin: 0px;
  filter: opacity(0.75);
  color: var(--colorAccent);
  text-align: center;
  left: 0px;
  top: 0px;
  font-size: var(--playing-height);
  height: 1em;
  width: 1em;
}

#playing .item button.play:hover {
  filter: unset;
  text-shadow: 0px 0px 12px var(--color);
  backdrop-filter: none;
}
#playing .item .title,
#playing .item .album,
#playing .item .artist,
#playing .item .time {
  margin-left: 8px;
  margin-right: 0px;
  font-size: 2em;
  white-space: nowrap;
}
#playing .item .title {
  font-size: 40px;
  margin-left: 12px;
}
#playing .item .icon {
  font-size: 2em;
  padding-top: 0px;
}

body.columns {
  --maxQueueWidth: min(600px, calc(50vw - 32px));
  margin-top: 128px;
  margin-left: var(--maxQueueWidth);
  /* width: calc(100vw - var(--maxQueueWidth) - 64px); */
  width: calc(100vw - var(--maxQueueWidth) - 128px);
  transition: margin-left 300ms;
}
body.columns.queueClosed {
  --maxQueueWidth: 64px;
}
:root {
  --logo-width: 340px;
}
@media (max-width: 500px) {
  :root {
    --logo-width: 88px;
  }
}
#controls {
  height: 64px;
  position: fixed;
  left: 32px;
  display: inline-flex;
  overflow: hidden;
  /* background-color: rgb(var(--body-color)); */
  color: var(--color);
  transition: width 300ms;
  top: 128px;
  margin-left: 64px;
  width: calc(100dvw - 128px);
  z-index: 8;
}
#controls *:hover,
#controls *.active {
  text-shadow: 2px 4px 6px var(--colorAccent);
}
body.columns #controls,
body.queueClosed #controls:hover {
  width: calc(var(--maxQueueWidth) - 64px);
  width: calc(min(600px, calc(50vw - 32px)) - 64px);
}
body.queueClosed #controls {
  width: 0px;
}
#controls * {
  font-size: var(--playing-height);
  margin: 0px auto;
}
ol#queue {
  margin-block: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  list-style-type: none;
  transition: height 300ms, top 300ms;
  z-index: 3;
  width: calc(100dvw - 64px);
  /* position: sticky; */
  position: relative;
  margin-bottom: 192px;
  /* margin-bottom: 128px; */
  top: 192px;
}
body.columns ol#queue {
  position: sticky;
}
body.queueClosed ol#queue,
body.queueClosed ol#queue li {
  z-index: 3;
}
ol#queue li {
  counter-increment: doc;
  cursor: pointer;
}
ol#queue li::before {
  content: counter(doc);
  text-align: center;
  position: absolute;
  font-size: 3.5em;
  width: 1.15em;
  line-height: 1.15em;
  color: whitesmoke;
  text-shadow: 0px 0px 8px rgb(0 0 0);
  z-index: 2;
  opacity: 0.75;
  left: 0px;
}
ol#queue li .item {
  transition: 0.25s;
}
ol#queue li .item button.play {
  display: none !important;
}
ol#queue li .item .time,
ol#queue li .item .icon {
  font-size: 1em;
}

#playing .item a .logo,
ol#queue.collection .item a .logo {
  display: none;
}
body.queueClosed ol#queue li {
  box-shadow: none;
}

body.queueClosed ol#queue li:before {
  text-shadow: none;
  color: rgb(0 0 0 / 0%);
}
body.queueClosed.columns ol#queue li:before {
  color: rgb(var(--body-color));
}
body.queueClosed ol#queue li .item {
  height: 0px;
}
body.columns ol#queue {
  width: calc(var(--maxQueueWidth) - 64px);
  padding-right: 64px;
  margin-top: 0px;
  left: 32px;
  position: fixed;
  overflow: hidden auto;
  height: 100%;
  max-height: calc(100vh - 192px);
  transition: margin-left 300ms, width 300ms;
  z-index: 4;
  top: 192px;
}
body.columns ol#queue li {
  margin-left: 0px;
}
body.columns ol#queue li .item {
  width: 100%;
}
body.narrow ol#queue {
  left: 0px;
}
body.columns.queueClosed ol#queue {
  width: 64px;
  margin-left: 0px;
  padding-right: 0px;
  overflow: visible;
}
body.columns.queueClosed ol#queue li:hover {
  width: min(600px, calc(50vw - 32px));
}
body.columns.queueClosed ol#queue li .item {
  height: 4em;
  width: calc(100% - 64px);
}

body.poster {
  margin-top: 100vmin;
}
body.poster header {
  height: min(100vmin, 100%);
  top: 0px;
}
body.poster #playing,
body.poster #playing .item,
body.poster #playing .item .artwork {
  height: min(100vmin, 100%);
  width: 100vmin;
  max-width: 100%;
  max-height: 100%;
}
body.poster #playing .item button {
  font-size: 100vmin;
}
body.poster #playing .item {
  /* display: inline-flex; */
  flex-direction: column;
  padding-left: 0px;
  /* display: block; */
}
body.poster #playing .item .title {
  margin-top: auto;
}
body.poster #playing .item .title,
body.poster #playing .item .artist,
body.poster #playing .item .album {
  width: 100%;
}
body.poster #playing .item .time {
  position: absolute;
  bottom: 0px;
  right: 8px;
  margin-left: auto;
  margin-top: auto;
  float: right;
}
body.poster #playing .item .icon {
  /* height: 2em; */
  margin: 7px 0px;
  margin-left: auto;
}
body.poster #playing .item .icon,
body.poster #playing .item.time {
  /* float:right; */
  /* margin: 0px; */
}
body.poster #playing .item * {
  margin-left: 0px;
  z-index: 1;
  line-height: initial;
  /* display: block; */
}
body.poster #controls {
  top: 100vmin;
}
body.poster ol#queue {
  top: 100vmin;
  margin-top: 64px;
}

button,
a,
input {
  outline: none;
}

#filters {
  display: flex;
  gap: 0.25rem;
  overflow: auto;
  /* padding: 0.5rem; */
  padding: 11px 0.5rem;
  margin-left: 64px;
  /* background: linear-gradient(90deg, rgb(255 255 255 / 10%), transparent); */
}
body.columns #filters {
  margin-left: 0px;
}
#filters > button {
  flex-shrink: 0;
  background-color: rgb(0 0 0 / 5%);
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  border: 0px;
  /* color: white; */
  font-size: 0.75em;
  font-weight: 500;
}

#also-like-items {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  padding: 0.5rem;
  /* margin-right: 64px; */
}
#also-like-items > button {
  display: flex;
  aspect-ratio: 1;
}
#also-like-items > button > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
}
@media (max-width: 800) {
  #also-like-items {
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  }
}
@media (max-width: 600px) {
  #also-like-items {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}
@media (max-width: 328px) {
  #also-like-items {
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  }
}
#apps-container {
  display: grid;
  gap: 0.2rem;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  margin: 1rem 0rem;
}
#apps-container > a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: rgb(var(--theme-medium));
  padding: 1rem 0.75rem;
  border-radius: 0.2rem;
  text-decoration: none;
}
#apps-container > a > img {
  height: 2rem;
  width: 2rem;
  flex-shrink: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
}
#apps-container > a > .label {
  width: calc(100% - 2.5rem);
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  overflow: hidden;
}
#apps-container > a > .label > .name {
  font-size: 0.74rem;
  color: rgb(0 0 0 / 1);
}
#apps-container > a > .label > .url {
  font-size: 0.7rem;
  color: rgb(0 0 0 / 50%);
}
#apps-container > a > .label > :is(.name, .url) {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (max-width: 800) {
  #apps-container {
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  }
}
#footer {
  display: inline;
  gap: 0.25rem;
  margin: 1rem 0px;
  overflow: auto;
  padding: 1em 0px;
}
#footer > a {
  background-color: rgb(0 0 0 / 5%);
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem rem;
  border: 0px;
  font-size: 0.75rem;
  font-weight: 500;
  white-space: nowrap;
}
div.horiz {
  display: flex;
  max-height: 500px;
  overflow: auto;
  width: 100vw;
  margin: 8px;
  margin-left: calc(-1 * var(--maxQueueWidth) - 32px);
}
body.narrow .horiz {
  /* margin-left: 0px; */
  margin-left: -64px;
}
div.horiz img {
  /* thank you [Clippy — CSS clip-path maker](https://bennettfeely.com/clippy/) */
  -webkit-clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
  clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
  margin: 0px -3.4%;
  margin: 0px -1.1%;
}
div.horiz img:first-of-type {
  margin-left: 0px;
}
div.horiz img:last-of-type {
  margin-right: 0px;
}
nav {
  position: fixed;
  color: var(--color);
  right: 32px;
  top: 132px;
  height: calc(100vh - 128px);
  z-index: 1;
}
body.narrow nav {
  right: 0px;
}
nav,
nav > * {
  display: inline-flex;
  flex-direction: column;
}
nav a.material-symbols-outlined {
  font-size: 64px;
  height: 1em;
  width: 1em;
  text-decoration: none;
  color: var(--color);
}
nav a.material-symbols-outlined,
a#search {
  /* text-shadow: 2px 4px 6px var(--colorAccent); */
  text-shadow: 1px 1px 2px var(--colorAccent);
}
nav a.material-symbols-outlined:hover,
a#search:hover {
  text-shadow: 2px 4px 6px var(--colorAccent);
}
nav .topIcons,
nav .midIcons,
nav .bottomIcons {
  margin: auto;
}
nav .midIcons {
  overflow-y: clip;
}
nav .bottomIcons {
  margin-bottom: 0px;
}
nav .topIcons {
  margin-top: 0px;
}
