html {
  scroll-behavior: smooth;
  scroll-padding-top: 56px;
}
body {
  margin: 0px;
  position: relative;
  display: flex;
  font-family: sans-serif;
  /* display: inline-flex; */
  height: 100%;
}

.headerOffset {
  height: 64px;
  /* background-color: #231f20; */
  background-color: #3e3638;
  /*   width: 100%; */
  /* top: 0px; */
  overflow: hidden;
  background-color: #7a7a7a;
}
#header {
  position: fixed;
  display: flex !important;
  margin: 0px auto;
  width: 100%;
  height: 64px;
  z-index: 8;
  box-shadow: 0px 3px 5px 3px whitesmoke;
  color: whitesmoke;
  fill: whitesmoke;
  backdrop-filter: blur(50px) contrast(0.8);
  font-size: 2em;
}
#header * {
  color: whitesmoke;
  fill: whitesmoke;
}
#header *:first-child {
  margin-left: auto;
}
#header #menu {
  display: inline-block;
  z-index: 64;
}
#header .selected {
  color: #231f20;
  background-color: gray;
}
#header .wide-only {
  display: none;
}

#header i,
#header a i,
#header a svg,
#header #play
/* ,
.headerOffset  */ {
  height: 1em;
  font-size: 2em !important;
}

#header #play {
  position: fixed;
  left: 0px;
  text-shadow: 0 0px 8px black;
  filter: opacity(0.75);
  z-index: 130;
}

.material-icons,
.material-symbols-outlined {
  font-size: 56px !important;
  cursor: pointer;
}

nav {
  position: fixed;
  width: 0px;
  background: #7a7a7a;
  height: calc(100% - 4em);
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  flex: 0 0 auto;
  right: 0px;
  /* overflow: visible; */
  z-index: 8;
  transition: 0.25s ease;
}
nav.selected {
  width: 64px !important;
}

nav .topIcons a i,
nav .midIcons a i,
nav .bottomIcons a i {
  margin: 0px auto;
  color: whitesmoke;
  font-size: 64px !important;
}
nav .bottomIcons,
nav .midIcons {
  margin-top: auto;
}
nav .midIcons {
  margin-bottom: auto;
  overflow-y: clip;
}

main {
  scroll-margin-top: 128px;
  /* flex: 1 1 200px; */
  /* margin-top: 64px; */
  /* width: 100%; */
  margin: 0px auto;
}

.container {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(auto-fill, 200px);
  overflow: hidden;
  height: calc(1vw / (7200 / 100vw));
}

main .container {
  /* display: grid; */
  /* grid-auto-flow: row dense; */
  /* grid-template-columns: repeat(auto-fill, 200px); */
  /* overflow: hidden; */
  backdrop-filter: blur(5px) contrast(0.8);
  /* scroll-margin-top: 128px; */
  /* margin: 0px auto; */
  /* margin: 0px 64px; */
  /* background-color: #7a7a7a; */
}
/* main  */
.container .title {
  grid-column: 1/-1;
  font-size: 48px;
  color: rgba(255, 255, 255, 1);
  text-shadow: 2px 2px 0px #030303;
  display: flex;
  width: inherit;
  height: 64px;
  overflow: clip;
}
/* main  */
.container a {
  width: 200px;
  height: 200px;
  /* width: var(--tile-width); */
  /* height: var(--tile-width); */
}
/* main  */
.container a.tile3x2 {
  grid-row-end: span 2;
  grid-column-end: span 3;
  height: 400px;
  width: 600px;
  /* height: calc(2 * var(--tile-width)); */
  /* width: calc(3 * var(--tile-width)); */
}
/* main  */
.container a.tile1x2 {
  grid-row: span 2;
  /* height: 400px; */
  /* width: 200px; */
  height: calc(2 * var(--tile-width));
  width: var(--tile-width);
}
/* main  */
main .container:first-child a.tile2x2 {
  grid-area: span 2 / -3 / span 2 / -1;
}
/* main  */
main .container a.tile2x2 {
  grid-area: span 2 / -3 / span 2 / -1;
  height: 400px;
  width: 400px;
  /* height: calc(2 * var(--tile-width)); */
  /* width: calc(2 * var(--tile-width)); */
}

#info {
  /* background: #3e3638; */
  box-shadow: -3px 5px 5px 3px #000;
  color: #c8c7c8;
  display: inline-block;
  font-weight: 300;
  font: 30px Helvetica, Arial, sans-serif;
  /* height: 100vh; */
  margin: 0 auto;
  min-height: 100vh;
  position: absolute;
  /* left: 0.025vw; */
  text-shadow: 2px 2px 0px rgb(0 0 0);
  top: 0px;
  transition: 0.5s ease;
  z-index: 11;
  width: 60vw;
  backdrop-filter: blur(5px) contrast(0.8);
  display: none;
}

#legal {
  margin: 24px auto;
  display: inline-block;
}
#legal span {
  margin-right: 16px;
  /* white-space: nowrap; */
}

@media (max-width: 665px) {
  main {
    /* width: 400px; */
    /* max-width: 400px; */
    /* margin: 0px 0px 64px 0px !important; */
    /* margin-left: 64px !important; */
    float: right;
  }
  main,
  main .container {
    /* width: 400px; */
    grid-auto-flow: unset;
    /* margin: 0px auto !important; */
    /* margin: 0px 0px 0px 64px !important; */
  }
  .tile {
    width: 200px;
    height: 200px;
  }
  .tile1x2 {
    height: 400px;
    width: 200px;
  }
  .tile2x1 {
    height: 200px;
    width: 400px;
  }
  .tile2x2 {
    width: 400px;
    height: 400px;
  }
  .tile3x2 {
    width: 400px !important;
    height: 266px !important;
    grid-column-end: span 2 !important;
  }
}

@media (min-width: 800px) {
  #header .wide-only {
    display: inline-block !important;
  }
  #header #menu {
    display: none;
  }

  nav {
    width: 4em !important;
  }
}

@media (min-width: 1330px) {
  #header,
  .headerOffset {
    font-size: 4em !important;
    height: 2em !important;
  }
  nav {
    margin-top: 8em;
  }
}
@media (min-width: 1700px) {
  nav.expanded {
    margin-left: 600px;
  }
}

.minimized {
  width: 64px !important;
  min-width: 64px !important;
}

.hidden {
  width: 0px !important;
  height: 0px !important;
  overflow: hidden !important;
  margin: 0px !important;
  padding: 0px !important;
  min-width: 0px !important;
}
