.item {
  margin: 0 auto;
  width: calc(100% - 4em);
  height: 4em;
  position: relative;
  padding-left: 4em;
  background: var(--colorAccent);
  color: var(--color);
  overflow: hidden;
}
.item * {
  white-space: nowrap;
  margin: 0px 4px;
  color: var(--color);
}
.item button {
  color: whitesmoke;
  font-size: 4em;
  position: absolute;
  left: 0px;
  top: 0px;
  text-shadow: 0 0px 8px var(--colorAccent);
  filter: opacity(0.75);
  z-index: 128;
  background-color: unset;
  border: none;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}
.item .artwork {
  background-position: center;
  background-size: cover;
  height: 4em;
  width: 4em;
  z-index: 1 !important;
  color: whitesmoke;
  aspect-ratio: 1 / 1;
  user-select: none;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0px;
}
.item .title {
  float: left;
  font-size: 1.75em;
  margin-right: 100%;
  text-decoration: none;
}
.item .album {
  font-style: italic;
}
.item .time,
.item .icon {
  font-size: 1em;
  float: right;
  text-shadow: 1px 1px var(--colorAccent);
  cursor: pointer;
  margin: auto 0px;
}
.item .icon {
  padding-top: 0.2em;
  text-decoration: none;
}
.item a .logo {
  float: right;
  height: 1.65em;
  fill: var(--color);
}

.item .timeline-container {
  height: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
  touch-action: none;
  position: absolute;
  width: calc(100% - 4em);
  bottom: 0px;
  margin: 0px;
}
.item .timeline-container .timeline {
  appearance: inherit;
  /* background-color: var(--colorAccent); */
  /* opacity: 50%; */
  /* height: 4px; */
  height: 100%;
  /* width: calc(100% - 2em); */
  width: 100%;
  position: relative;
  transition: 250ms linear;
  margin: 0px;
}
.item .timeline-container .timeline .thumb-indicator {
  --scale: 0;
  position: absolute;
  transform: translateX(-50%) scale(var(--scale));
  height: 200%;
  top: -50%;
  left: calc(var(--progress-position) * 100%);
  /* background-color: var(--colorAccent); */
  border-radius: 50%;
  transition: transform 150ms ease-in-out;
  transition: right 250ms linear;
  aspect-ratio: 1 / 1;
  filter: drop-shadow(2px 2px 4px var(--color));
}
.item .timeline-container .timeline::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--progress-position) * 100%);
  /* background-color: var(--colorAccent); */
  background-color: var(--color);
}
