#sidebar {
  flex: 0 0 auto;
  color: whitesmoke;
  font-size: 2em;
  width: 400px;
  z-index: 4;
  transition: width 0.25s linear, left 0.25s linear, margin-top 0.25s linear;
}
#sidebar,
#playing {
  position: relative;
}
#player {
  display: flex;
  position: fixed;
}
#sidebarIcons,
#player {
  background-color: #7a7a7a;
  height: 2em;
  width: inherit;
  z-index: 16;
  overflow: hidden;
  margin-top: 4em;
}
#sidebar #lists {
  position: fixed;
  width: inherit;
  color: whitesmoke;
  text-shadow: 2px 2px 0px rgb(0 0 0);
  background-color: #3e3638;
  height: calc(100% - 256px);
  z-index: 8;
  overflow: clip overlay;
  /* padding-bottom: calc(100vh - 100%); */
  margin-top: 6em;
}
#sidebar.closed #player {
  margin-top: 2em;
}
#sidebar.closed #lists {
  margin-top: 4em;
}
#sidebarIcons {
  display: flex;
  position: fixed;
  bottom: 0px;
}
#sidebarIcons *,
#player * {
  margin: 0px auto;
  font-size: 2em !important;
  color: whitesmoke;
}
#sidebar > a:hover {
  filter: invert(0.3);
}
#sidebarIcons :last-child,
#player :last-child {
  z-index: 16;
}
#sidebarIcons .logo {
  transition: 0.25s linear;
  width: 0px;
  margin: 0px;
  fill: #232021;
}
#player #time {
  font-size: 1.25em !important;
  margin: auto;
}

#sidebar.closed {
  width: 2em !important;
}
#sidebar.closed #playing {
  background-color: unset;
}
#sidebar.closed #player *:not(:last-child) {
  width: 0px !important;
  opacity: 0;
}

#sidebar #play {
  font-size: 4em !important;
}
#sidebar.closed #play {
  font-size: 2em !important;
}
#playing > .item {
  font-size: 1em !important;
}
#sidebar.closed #playing,
#sidebar.closed #playing > .item {
  font-size: 1em;
}

#play {
  position: fixed;
  left: 0px;
  top: 0;
  font-size: 2em !important;
  text-shadow: 0 0px 8px black;
  filter: opacity(0.75);
  z-index: 128;
  transition: 0.25s linear;
}

#header #play {
  position: fixed;
  left: 0px;
  text-shadow: 0 0px 8px black;
  filter: opacity(0.75);
  z-index: 130;
}

#playing {
  width: 400px;
  position: fixed;
  top: 0px;
  display: inline-block;
  font-size: 2em;
  background-color: #7a7a7a;
  transition: 0.25s linear;
  z-index: 16;
}
#sidebar.closed #playing {
  width: 0px;
}
#playing.item collection,
#header #playing .collection {
  display: none;
}

#queue,
#history,
#playlists {
  width: inherit;
  list-style: none;
  padding-left: 0px;
  z-index: 8;
  margin: 0px;
}
#queue {
  height: 100%;
}
#queue i {
  display: none;
}
#queue.minimized i {
  display: inline-block;
}
#queue li.playing {
  background-color: whitesmoke !important;
  color: #3e3638;
  text-shadow: 2px 2px 0px whitesmoke;
}
#queue li,
#history li {
  counter-increment: doc;
  background-color: #231f20;
  width: calc(100% + 64px);
  overflow: hidden;
  height: 64px;
  position: relative;
  left: -64px;
  cursor: move;
  user-select: none;
}
#history li,
#queue li.played {
  filter: grayscale(1);
  color: lightslategray;
}
#queue li:before,
#history li:before {
  content: counter(doc);
  cursor: ns-resize;
  text-align: center;
  margin: auto 0px;
  width: 64px;
  float: left;
  position: relative;
  left: 64px;
  line-height: 2em;
#sidebar.closed #queue li:before,
#sidebar.closed #queue li {
  position: initial;
  width: 64px;
}
#sidebar.closed #queue * .item .artwork {
  float: unset !important;
}

.item .options {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s ease;
  font-size: 16px;
}

/* anything above is the "normal" screen size */
/* wide screen */
@media (min-width: 1350px) {
  #playing {
    color: #3e3638;
    background-color: unset;
    text-shadow: 2px 2px 0px whitesmoke;
  }
  #sidebar #player,
  #sidebar.closed #player {
    margin-top: 4em;
  }
  #sidebar #lists,
  #sidebar.closed #lists {
    margin-top: 6em;
  }
  #sidebar.closed #playing,
  #sidebar.closed #playing > .item {
    font-size: 2em;
    width: 0px;
  }
  #sidebar.closed #play {
    font-size: 4em !important;
  }
  #playing:first-child {
    margin-top: auto;
  }
}

/* narrow screen */
@media (max-width: 1750px) {
  #sidebar,
  #playing {
    position: fixed;
  }
}
@media (max-width: 1250px) {
  #sidebar.closed #playing {
    width: 0px;
  }
}
@media (max-width: 800px) {
  #sidebar,
  #playing {
    width: 100%;
  }
  #sidebar.closed .logo {
    opacity: 0 !important;
  }
  #sidebarIcons .logo {
    width: 1em;
    margin: 0px auto;
  }
  main {
    flex: unset;
    display: block;
    margin: 0px 0px 0px 64px !important;
    width: 100%;
  }
}
@media (max-width: 464px) {
  #sidebar.closed #queue {
    height: 100%;
  }
}
@media (max-width: 464px) {
  #sidebar.closed #queue {
    height: 100%;
  }
}
